{% extends "base.html" %} {% block body %} {{ block.super }}

{% load staticfiles %}


<style>
body { overflow: auto; }
</style>
  <style>
     td {text-align:center;
	  padding:0px}
  </style>
  <style type="text/css">
.keepLine
{
word-break: keep-all;
}
</style>

{% load el_pagination_tags %}
<h1 class="text-center">查询订单</h1>
<HR style="border:3 double #987cb9" width="95%" color=#987cb9 SIZE=3>
	<form name="form1" method='POST' class="form-inline">
		<div class="form-group">
		 <label for="lastname" >订单号：</label>
		 </div>
		<div class="form-group">
		<input type="text" class="form-control"  placeholder="请输入订单号" name="name" />
		 </div>
		<div class="form-group">
		<input type="submit" value="搜索" class="btn btn-primary" />
		 </div>
	</form>

<table id="tb" border="2" class="table table-hover" >
	<tr class="warning">
	<th align="center"   ><div align="center" style="width:45px; height:20px;">已接收</div></th>
<th align="center" ><div align="center" style="width:80px; height:20px;">订单日期</div></th>

<th  align="center" ><div align="center">订单号</div></th>
<th  align="center" ><div align="center"  style="width:70px; height:20px;">存货编码</div></th>
<th  align="center" ><div align="center" style="width:120px; height:20px;"> 存货名称</div></th>
			<th  align="center" ><div align="center" style="width:120px; height:20px;"> 品牌</div></th>
	<th  align="center" ><div align="center" style="width:120px; height:20px;"> 货号</div></th>

<th  align="center" ><div align="center" style="width:150px; height:20px;">规格型号</div></th>
<th><div align="center" >备注1</div></th>
<th  align="center" ><div align="center">主计量</div></th>
<th  align="center" ><div align="center">数量</div></th>

<th  align="center" ><div align="center" >预计送货日期</div></th>

<th  align="center" ><div align="center">备注</div></th>
<th  align="center" ><div align="center">入库日期</div></th>
</tr>

{% for d in data%}
	<tr class="active">
		<td><input type="checkbox" name="received"  id="receive{{d.id}}" disabled="true"   value="" {%if d.received%}checked="True" {%endif%}></td>
		<td>{{d.add_date}}</td>

		<td>{{d.order_code}}</td>
		<td>{{d.stock_code}}</td>
		<td>{{d.material_name}}</td>
				<td>{{d.brand}}</td>
		<td>{{d.serial_number}}</td>
		<td>{{d.model}}</td>
		<td>{{d.comment1}}</td>
		<td>{{d.unit}}</td>
		<td>{{d.number}}</td>

		<td>{{d.deliver_date}}</td>
		<td>{{d.remarks}}</td>
		<td>{{d.arrival_date}}</td>

	</tr>
{%endfor%}

	</table>



  {% endblock body %}
