{% extends "base.html" %} {% block body %} {{ block.super }} 


<div class="container">
    <div class="row">
        <div class="col-xs4">
<h1 align="center" >物资部订单系统</h1>
</div>

<div class="jumbotron">
   <div class="container">
      <h2 >使用说明：</h2>
 <div class="alert ">
<ul >
	<li>1.查看货期不需登录，供应商需要登录后才能正常提交数据</li>
	<li>2.IE8不能正常提交数据，只能查看内容。最好使用360急速、搜狗高速浏览器等</li>
    <li>建议使用<a href=" http://www.uc.cn/">1.UC浏览器</a> 或者<a href="http://chrome.360.cn/">2.360极速浏览器</a> </li>
	</ul>

   </div>
</div>
</div>
</div>

{% endblock body %}
